*{
    padding: 0;
    margin: 0;
  
    font-family: 'Montserrat', sans-serif;
}
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 19px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #ffffffb4;
    color: rgb(87, 87, 87);
  }
  .topnav-right {
    float: right;
  }
.logo{
    color: white;
    font-size: 28px;
}

h2{
    text-align: center;
}
.container {
    position: relative;
    width: 70%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #404140;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


